<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="bower_components/d3/d3.min.js"></script>
<script src="bower_components/d3-cloud/build/d3.layout.cloud.js"></script>
<script src="bower_components/spin.js/spin.js"></script>


<script src="app.js"></script>
<link rel="stylesheet"
href='https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/spacelab/bootstrap.min.css'>

<html>
<style>

</style>
<body>
  
  <div class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
      <p class="navbar-text pull-left">© Resu-Me 2015 - Site Built By dog_Pakk Inc.

      </p>
      <a href="https://github.com/DZGoldman/Resu-Me/" class="navbar-btn btn-small btn pull-right">
      <span class="glyphicon glyphicon-star"></span> Resu-Me on Github</a>
    </div>
</div>

</body>
</html>
