<div class="col-md-12" id="visualizations">
   <div class="well">
      <center>
         <input type="text" class="input-lg" id="cloud-vis" placeholder="Search By Job Title">
      </center><br>
      <center>
         <button class="btn btn-lg" id="analyze-resume">See How Your Current Resume Stacks Up</button>
      </center>
      <center>
         <hr>
         <h2 id="job-description">___________________</h2>
         <hr>
      </center>
      <!-- WORDCLOUD -->
      <center>
         <div id="cloudy">
         </div>
      </center>
      <hr>
      <!-- RELEVANCE GRAPH -->
      <center>
         <div id="graph"></div>
      </center>
   </div>
</div>
