<!doctype html>
<html>

<head>
<% include ../partials/head %>
</head>

<style>
  body  { padding-top: 50px;  }
</style>

<body>
<form class="form-horizontal" action="/newresume" method="post">
<fieldset>

<!-- Form Name -->
<legend>Add New Resume Form</legend>

<!-- Name input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Name</label>
  <div class="col-md-4">
  <input id="Name" name="Name" type="text" placeholder="Name" class="form-control input-md">

  </div>
</div>

<!-- Address input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Address</label>
  <div class="col-md-4">
  <input id="Address" name="Address" type="text" placeholder="Street Address" class="form-control input-md">

  </div>
</div>

<!-- Email input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Email</label>
  <div class="col-md-4">
  <input id="Email" name="Email" type="text" placeholder="Email Address" class="form-control input-md">

  </div>
</div>

<!-- Phone input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Phone</label>
  <div class="col-md-4">
  <input id="Phone" name="Phone" type="text" placeholder="(000) 000-0000" class="form-control input-md">

  </div>
</div>


<!-- Education input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Education</label>
  <div class="col-md-4">
  <input id="Education" name="Education" type="text" placeholder="School / Year of Graduation" class="form-control input-md">

  </div>
</div>

<!-- Experience input -->
<div id='experience-container'>
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Experience</label>
  <div class="col-md-4">
    <input id="textinput-title-0" name="textinput" type="text" placeholder="Title" class="form-control input-md">
    <input id="textinput-state-date-0" name="textinput" type="text" placeholder="Start Date" class="form-control input-md">
    <input id="textinput-end-date-0" name="textinput" type="text" placeholder="End Date" class="form-control input-md">
    <input id="textinput-description-0" name="textinput" type="text" placeholder="Description" class="form-control input-md">
  </div>
</div>

<div class="form-group " id='experience-template'>
  <label class="col-md-4 control-label" for="textinput">Experience</label>
  <div class="col-md-4">
    <input id="textinput-title-0" name="textinput" type="text" placeholder="Title" class="form-control input-md">
    <input id="textinput-state-date-0" name="textinput" type="text" placeholder="Start Date" class="form-control input-md">
    <input id="textinput-end-date-0" name="textinput" type="text" placeholder="End Date" class="form-control input-md">
    <input id="textinput-description-0" name="textinput" type="text" placeholder="Description" class="form-control input-md">
  </div>
</div>
</div>

<!-- Add New Experience button, *needs to trigger new experience partial* -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <div id="Experience_Button" name="Experience_Button" class="btn btn-danger">Add Additional Experience</div>
  </div>
</div>



<!-- Summary input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Summary</label>
  <div class="col-md-4">
  <input id="Summary" name="Summary" type="text" placeholder="Summary" class="form-control input-md">
  </div>
</div>

<!-- Submit New Resume Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="singlebutton"></label>
  <div class="col-md-4">
    <button id="Submit_Button" name="Submit_Button" <a href="#"
    class="btn btn-danger">Add New Resume</a></button>
  </div>
</div>

</fieldset>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script>
// $('#Experience_Button').click(function () {
//   var new= $('#new-experience')
//    console.log('hi')
//     $('#experience-container').append(new)
//     console.log($('#new-experience'));
//  });
//




</script>
<% include ../partials/footer %>
</body>
</html>
