<!doctype html>
<html>

<head>
   <% include ../partials/head %>

</head>
<style>
   body {
      padding-top: 100px;
   }
</style>

<body>
   <div class="container">

      <div class="col-sm-4 col-sm-offset-4">
         <h1 style="text-align: center;">Visualize the Job you want</h1>
         <input type="text" name="job_title" id="job_title" placeholder="Enter a job title">
         <button class="btn btn-default" id="cloudQuery"> Submit </button>
      </div>
      <hr>
      <div class="col-sm-8 col-sm-offset-2 well well-lg" id="cloudy"></div>

   </div>

   <% include ../partials/footer %>


</body>

</html>
